

body {
  background-color: black;
}

h1, p {
  font-size: 50px;
  text-align: center;
}

h1, p, ul li {
  color: pink;
  font-family: monospace;
}

img {
  width: 400px;
  border: 15px solid white;
  display: block;
  margin: auto;
}

ul {
  margin-left: 100px;
}
